name: CI/CD Pipeline

on:
  push:
    branches: ['main']
  workflow_dispatch:

env:
  VITE_API_URL: 'http://localhost:5042' # for example

jobs:
  build-test-lint:
    name: Build & Test & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - run: npm ci

      - run: npm run type-check

      - run: npm run lint

      - run: npm run test:run
